@using Home2_MVC.Models;
@model HomeViewModel
@section header
{
    @*@using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
        {
            <label for="login">Login: </label>
            <input id="login" name="login" type="text" />
            <label for="password">Password: </label>
            <input id="password" name="password" type="password" />
            <button class="btn btn-danger" id="login" value="Sign in">Sign in</button>
        }*@
}
@using Home2_MVC.ModelsDB
@{
    var grid = new WebGrid(Model.Order.Items.Keys as IEnumerable<Product>);
}

@using (Html.BeginForm())
{
    <label>Products</label>
    @Html.DropDownList("products", Model.AvailableProducts);
    <input id="quantity" type="number" name="quantity" min="1" max="5" value="1"><br>
    <input type="submit" name="submitButton" value="AddToBucket" class="btn btn-primary" />
    @*<input type="submit" name="submitButton" value="MakeOrder" class="clientInfo" />*@

    @Html.ActionLink("MakeOrder", "MakeOrder", Model.Order.Info, new { @class = "clientInfo btn btn-primary" })

    @grid.GetHtml()
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".clientInfo").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}