@using Home2_MVC.Models
@model ContactInfo
<div class="modal-content">
    <div class="modal-header">

    </div>
    <div class="modal-body">
        @Html.Label("Enter contact info:")
        @Html.EditorForModel();
        <button class="close" data-dismiss="modal" area-hidden="true">Close</button>
    </div>
</div>
