@using Home2_MVC.Models
@model ContactInfo

<div class="modal-content">
    <div class="modal-header">
        @Html.Label("Enter contact info:")
    </div>
    <div class="modal-body">
        @Html.EditorForModel();
        <button id="close" class="close" data-dismiss="modal" area-hidden="true">Close</button>
    </div>
</div>